absl-py==2.4.0
astunparse==1.6.3
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7

Flask==3.0.3
Werkzeug==3.0.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5

flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.65.5
h5py==3.11.0
keras==3.3.3
libclang==18.1.1
Markdown==3.7
ml-dtypes==0.3.2
namex==0.0.8

numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
scikit-learn==1.5.1
joblib==1.4.2
threadpoolctl==3.5.0

opt_einsum==3.4.0
optree==0.12.1
packaging==24.1
protobuf==4.25.4

Pygments==2.18.0
markdown-it-py==3.0.0
mdurl==0.1.2
rich==13.7.1

PyMySQL==1.1.1
SQLAlchemy==2.0.35

python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
urllib3==2.2.2
idna==3.8
six==1.16.0

tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1

termcolor==2.4.0
typing_extensions==4.12.2
wrapt==1.16.0

openpyxl==3.1.5
xlrd==2.0.1

gunicorn==22.0.0
